# macOS / Windows
.DS_Store
Thumbs.db
desktop.ini

# Editors & IDEs
.idea/
.vscode/
*.iml
*.swp

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/

# Build output
dist/
build/
out/
